#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=Tor Browser
Comment=Secure Internet Browser
Type=Application
Exec=/home/sese/.torbundle/Browser/start-tor-browser
Icon=/home/sese/.local/share/icons/tor.png
Categories=
