[Desktop Entry]
Categories=Network;Chat;Qt;
Comment[en_US]=A low-latency, high quality voice chat program for gaming
Comment=A low-latency, high quality voice chat program for gaming
Comment[fr]=Un logiciel de chat vocal de haute qualité et de faible latence pour les jeux
Comment[tr]=Oyunlar için yüksek kaliteli ve düşük gecikmeli sesle sohbet programı
Exec=mumble
GenericName[en_US]=Voice Chat
GenericName=Voice Chat
GenericName[fr]=Chat vocal
GenericName[tr]=Sesle Sohbet
Icon=mumble
Keywords=VoIP;Messaging;Voice Chat;Secure Communication
MimeType=
Name[en_US]=Mumble
Name=Mumble
Name[fr]=Mumble
Name[tr]=Mumble
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
