[Desktop Entry]
Encoding=UTF-8
Name=Microsoft Word 2007
Comment=PlayOnLinux
Type=Application
Exec=/usr/share/playonlinux/playonlinux --run "Microsoft Word 2007" %F
Icon=/home/sese/.PlayOnLinux//icones/full_size/Microsoft Word 2007
Name[fr_FR]=Microsoft Word 2007
StartupWMClass=WINWORD.EXE
Categories=
