[Desktop Entry]
Encoding=UTF-8
Name=Tor Browser
Comment=Secure Web Browser
Type=Application
Exec=/home/sese/.torbundle/start-tor-browser
Icon=/home/sese/.local/share/icons/tor.png
Categories=
